<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cocktail App</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header></header>

    <div class="main-search">
      <!--background image-->
      <h1>Cocktail App</h1>
      <p>
        Learn new cocktails and share with your friends. Search below to get
        started!
      </p>
      <form action="./results.html" method="GET">
        <input type="text" placeholder="Search by ingredients" name="search" />
        <span class="form-buttons">
          <button type="submit">
            Submit
          </button>
          <button
            type="button"
            onclick="window.location.href = './random.html'"
          >
            Random Drink
          </button>
        </span>
      </form>
    </div>
    <footer>
      <p>Developed by: Nick Williams</p>
      <p>
        Contact information:
        <a href="github.com/williamsne2">Github</a> |
        <a href="mailto:williamsne2@gmail.com">Email</a>
      </p>
    </footer>
  </body>
</html>
